@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

a {
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #e7e8f4;
}

.bg-light {
  background-color: #10A578 !important;
}

.dropdown a {
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
}

.navbar-brand {
  padding: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../image/Main/menu.svg);
  background-size: auto;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.btn_stroke {
  margin-left: 10px;
  color: white;
  background-color: #10A578;
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 6px;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
}

.btn_fill {
  border-radius: 6px;
  background-color: white;
  color: #10A578;
  padding: 10px 15px;
  border: none;
  margin-left: 10px;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
}

.header_arrow {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-right: 20px;
}

.dropdown {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.tabs {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  border-radius: 5px;
  min-width: 240px;
}

.tabs input[name="tab-control"] {
  display: none;
}

.tabs .content section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #428BFF;
}

.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tabs ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}

.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs ul li label br {
  display: none;
}

.tabs ul li label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}

.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: #bec5cf;
}

.tabs .slider {
  position: relative;
  width: 25%;
  -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator {
  position: relative;
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  height: 2px;
  background: #10A578;
  border-radius: 1px;
}

.tabs .content {
  margin-top: 30px;
}

.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
}

.tabs .content section h2 {
  color: #428BFF;
  display: none;
}

.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428BFF;
  margin-top: 5px;
  left: 1px;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #428BFF;
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #428BFF;
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #428BFF;
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #428BFF;
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}

.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}

@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}

@media (max-width: 375px) {
  .navbar-brand {
    padding: 0;
    width: 30px;
  }
  .dropdown a {
    font-size: 14px;
    margin-left: 15px;
  }
  .header_arrow {
    margin-right: 0px;
  }
  .btn_stroke {
    margin-left: 0px;
    padding: 15px 150px;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .btn_fill {
    font-size: 18px;
    padding: 15px 120px;
    border: none;
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .bg-light {
    background-color: #10A578 !important;
  }
}

.col, .col-1, .col-2, .col-3, .btn {
  padding: 0;
  margin: 0;
}

.no {
  color: #8c8da4;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
}

.cons {
  color: #161737;
  margin-top: 15px;
  font-family: "Proxima Nova Regular", sans-serif;
}

.yes {
  color: #10A578;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
}

h4 {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 42px;
  color: #161737;
}

.navigation {
  background-color: #10A578;
  height: 70px;
  font-size: 16px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.navigation_logo {
  width: 111px;
  height: 31px;
  padding-top: 21px;
}

.navigation_city {
  padding-left: 26px;
  padding-top: 25px;
}

.navigation_city_img {
  padding-left: 8px;
}

.navigation_specialists {
  padding-left: 65px;
  padding-top: 25px;
}

.navigation_compani, .navigation_notaries, .navigation_benefit {
  padding-left: 24px;
  padding-top: 25px;
}

.navigation button {
  border-radius: 4px;
}

.navigation .btn-1 {
  padding: 12px 25px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.navigation .btn-2 {
  padding: 12px 14px;
  color: #10A578;
  background-color: #ffffff;
  border: none;
}

.navigation_circuit {
  padding-left: 25px;
  margin-top: 13px;
}

.navigation_fill {
  padding-left: 10px;
  margin-top: 13px;
}

.navigation a {
  color: white;
}

.main {
  background: url(../image/Main/home.svg) no-repeat;
  background-size: 110%;
  /* Placeholder
-----------------------------------------------------*/
}

.main h1 {
  margin-top: 138px;
  margin-bottom: 26px;
  font-size: 60px;
  font-family: "Proxima Nova Bold", sans-serif;
}

.main h1 span {
  color: #10A578;
}

.main form {
  margin-bottom: 170px;
}

.main form.catalin input {
  float: left;
  border: 1px solid #e7e8f4;
  height: 70px;
  width: 600px;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
  border-radius: 6px 0 0 6px;
}

.main form.catalin button {
  float: left;
  border: none;
  background-color: #10A578;
  border-radius: 0 6px 6px 0;
  border: 1px solid #e7e8f4;
  border-left: none;
  padding: 0;
  margin: 0;
  width: 174px;
  height: 70px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 20px;
}

.main form.catalin input::-webkit-input-placeholder {
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  padding: 24px;
}

.main input[type="text"] {
  padding: 24px;
}

.main form.catalin input:-moz-placeholder {
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  padding: 24px;
}

.main form.catalin input:-ms-input-placeholder {
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  padding: 24px;
}

.factodes_blocks {
  border: 1px solid #e7e8f4;
  border-radius: 6px;
  -webkit-transform: translate(0, -80px);
          transform: translate(0, -80px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.factodes_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 41px 20px;
  background-color: white;
  border-left: 1px solid #e7e8f4;
}

.factodes_block:first-child {
  border-left: none;
}

.factodes_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 18px;
}

.factodes_textt {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 20px;
  color: #161737;
  margin-top: 5px;
  width: 20px;
}

.factodes_fact {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  color: #161737;
  border: 1px solid #10A578;
  padding: 10px 14px;
  border-radius: 6px;
  margin-top: 9px;
}

.factodes_fact span {
  color: #10A578;
  font-family: "Proxima Nova Bold", sans-serif;
}

.special {
  border-bottom: 1px solid #e7e8f4;
  padding-bottom: 80px;
  color: #161737;
}

.special .title {
  margin: 20px 0 40px 0;
}

.special_block {
  width: 270px;
  border-radius: 3px;
  border-top: 3px solid #10A578;
  padding: 29px 0 19px 14px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.special_icon {
  padding-right: 20px;
}

.special_fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 2px;
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 20px;
}

.special_text {
  font-size: 20px;
  font-family: "Proxima Nova Semibold", sans-serif;
  line-height: 1;
}

.special_text span {
  font-family: "Proxima Nova Regular", sans-serif;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services_block {
  margin-top: 60px;
  padding: 20px 20px 20px 0;
}

.services .serv {
  margin-bottom: 36px;
}

.services a {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  color: #161737;
  display: block;
  padding-bottom: 36px;
}

.services a span {
  color: #8c8da4;
}

.lawyer {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #161737;
}

.lawyer_block {
  border: 1px solid #e7e8f4;
  border-radius: 6px;
  padding-bottom: 20px;
}

.lawyer_block-photo {
  margin: 10px;
}

.lawyer_block .rewyes {
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #e7e8f4;
  border-radius: 4px;
  padding: 10px 18px 10px 10px;
  font-size: 15px;
  font-family: "Proxima Nova Regular", sans-serif;
}

.lawyer_block .rewyes_icon {
  -webkit-transform: translateY(3.5px);
          transform: translateY(3.5px);
  padding-right: 20px;
}

.lawyer_block-ingo {
  margin-top: 20px;
}

.lawyer_block-ingo .specialistik {
  margin-top: 8px;
}

.lawyer_block-ingo .specialistik img {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.lawyer_block-ingo .specialistik a {
  text-decoration: underline;
  margin-left: 28px;
  font-size: 14px;
  color: black;
  font-family: "Proxima Nova Regular", sans-serif;
}

.lawyer_block-ingo .uslugi {
  margin-top: 12px;
}

.lawyer_block-ingo .name {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 25px;
}

.lawyer_block-ingo .name a {
  color: #161737;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 25px;
}

.lawyer_block-ingo .special, .lawyer_block-ingo .time {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  padding: 0;
  margin-top: 10px;
}

.lawyer_block-ingo .time {
  margin-left: 20px;
}

.lawyer_block-ingo .week {
  margin-top: 15px;
  display: inline-block;
  margin-left: 50px;
  font-size: 15px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.lawyer_block-ingo .week .weekdays {
  border: 1px solid #10A578;
  padding: 6px;
  color: #10A578;
  border-radius: 6px;
}

.lawyer_block-ingo .week .output {
  border: 1px solid #e7e8f4;
  padding: 6px;
  color: #e7e8f4;
  border-radius: 6px;
}

.lawyer_block-ingo .spec {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  padding: 6px;
  background-color: #F8F8FE;
  border-radius: 6px;
  line-height: 2.5;
}

.lawyer .stars {
  margin-top: 10px;
  margin-left: 16px;
}

.lawyer .stars .star {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.lawyer .stars span {
  font-family: "Proxima Nova Regular", sans-serif;
}

.lawyer .phone_card {
  margin-left: 60px;
  margin-top: 20px;
}

.lawyer .phone {
  right: 100px;
  width: 230px;
  height: 54px;
  text-align: center;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  color: #161737;
  background-color: #F8F8FE;
  border-radius: 6px;
  padding: 18px;
}

.lawyer .phone span {
  font-size: 15px;
  color: #10A578;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.lawyer .WhatsApp_block {
  width: 230px;
  margin-top: 10px;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 18px;
  padding: 12px;
  border: 1px solid #10A578;
  border-radius: 6px;
  height: 54px;
}

.lawyer .WhatsApp_block .wa_text {
  color: #10A578;
}

.lawyer .WhatsApp_block .wa_icon {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  padding-right: 15px;
}

.lawyer .consultation {
  font-family: "Proxima Nova Semibold", sans-serif;
  width: 230px;
  text-align: center;
}

.lawyer_button {
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 18px;
  border-radius: 6px;
  background-color: #10A578;
  padding: 24px;
  width: 270px;
  border: none;
}

.useful_button {
  margin-top: 50px;
  color: #10A578;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 18px;
  border-radius: 6px;
  background-color: transparent;
  text-align: center;
  padding: 24px;
  width: 270px;
  border: 1px solid #e7e8f4;
  margin-bottom: 80px;
}

.useful_date {
  margin-top: 15px;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  color: #8c8da4;
}

.useful_text {
  color: #161737;
  font-size: 16px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.useful_read {
  font-size: 16px;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #10A578;
}

.info {
  background-color: #f8f8fe;
  padding-top: 80px;
  text-align: center;
}

.info_title {
  font-family: "Proxima Nova Semibold", sans-serif;
}

.info_title h2 {
  font-size: 35px;
  color: #161737;
}

.info_title h3 {
  font-size: 30px;
  color: #10A578;
}

.info_img {
  margin-top: 40px;
}

.info_title {
  margin-top: 40px;
  font-size: 20px;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #161737;
}

.info_subtitle {
  margin-top: 8px;
  font-size: 16px;
  font-family: "Proxima Nova Regular", sans-serif;
  color: #8c8da4;
  padding: 0 25px;
}

.info_button {
  margin-top: 44px;
  margin-bottom: 100px;
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 18px;
  border-radius: 6px;
  background-color: #10A578;
  padding: 24px;
  width: 270px;
  border: none;
}

.service {
  padding: 60px;
  background-color: #fff;
}

.service h2 {
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #161737;
  font-size: 42px;
}

.service_text-1 {
  font-family: "Proxima Nova Regular", sans-serif;
  color: #8c8da4;
  font-size: 17px;
}

.service_text-2 {
  margin-top: 30px;
  font-family: "Proxima Nova Regular", sans-serif;
  color: #8c8da4;
  font-size: 17px;
}

.service_button {
  margin-top: 50px;
  color: #10A578;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 18px;
  border-radius: 6px;
  background-color: transparent;
  text-align: center;
  padding: 24px;
  width: 270px;
  border: 1px solid #e7e8f4;
  margin-bottom: 50px;
}

.footer {
  height: 178px;
  padding-top: 40px;
  background-color: #F8F8FE;
  font-size: 16px;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #8c8da4;
  text-align: center;
}

.footer_city {
  padding-top: 5px;
  color: #8c8da4;
}

.footer_specialists {
  padding-top: 5px;
}

.footer_specialists a {
  color: #8c8da4;
}

.footer_companies {
  padding-top: 5px;
}

.footer_companies a {
  color: #8c8da4;
}

.footer_notaries {
  padding-top: 5px;
}

.footer_notaries a {
  color: #8c8da4;
}

.footer_useful {
  padding-top: 5px;
  text-align: left;
}

.footer_useful a {
  color: #8c8da4;
}

.footer_btn-1 {
  padding: 12px 25px;
  background-color: transparent;
  color: #10A578;
  border: 1px solid #10A578;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.footer_btn-2 {
  padding: 12px 25px;
  background-color: #10A578;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.footer_info {
  text-align-last: left;
  font-size: 15px;
  font-family: "Proxima Nova Regular", sans-serif;
  color: #8c8da4;
}

.footer_info a {
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #8c8da4;
}

.footer_social {
  text-align-last: right;
  padding-right: 10px;
}

.footer .info {
  border-top: 1px solid #e7e8f4;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Экрна юристы */
.form {
  background-color: #F7F7F7;
}

.form form {
  margin-top: 20px;
  margin-bottom: 110px;
}

.form form.catalin input {
  float: left;
  border: 1px solid #e7e8f4;
  height: 70px;
  width: 600px;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
  border-radius: 6px 0 0 6px;
}

.form form.catalin button {
  float: left;
  border: none;
  background-color: #10A578;
  border-radius: 0 6px 6px 0;
  border: 1px solid #e7e8f4;
  border-left: none;
  padding: 0;
  margin: 0;
  width: 174px;
  height: 70px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 20px;
}

.form form.catalin input::-webkit-input-placeholder {
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  padding: 24px;
}

.form input[type="text"] {
  padding: 24px;
}

.form form.catalin input:-moz-placeholder {
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  padding: 24px;
}

.form form.catalin input:-ms-input-placeholder {
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  padding: 24px;
}

.title {
  background-color: #fff;
  border-bottom: 1px solid #e7e8f4;
  margin-bottom: 45px;
  padding-bottom: 45px;
  margin-top: 17px;
}

.head h4 {
  font-size: 50px;
  font-family: "Proxima Nova Semibold", sans-serif;
  margin: 24px 0 9px 0;
}

.head a {
  font-size: 15px;
  font-family: "Proxima Nova Regular", sans-serif;
  color: #161737;
}

.head_special {
  font-size: 15px;
  font-family: "Proxima Nova Regular", sans-serif;
  color: #8c8da4;
}

.head_img img {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  margin: 0 4px;
}

.head_subtitle {
  font-size: 16px;
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
}

.head_more {
  font-size: 16px;
  color: #10A578;
  font-family: "Proxima Nova Regular", sans-serif;
}

.head_civil {
  margin-top: 20px;
  font-size: 18px;
  color: #161737;
  font-family: "Proxima Nova Regular", sans-serif;
  border: 1px solid #e7e8f4;
  padding: 20px;
  border-radius: 6px;
}

.head_civil img {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  margin-left: 240px;
}

.head_sort {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  font-family: "Proxima Nova Regular", sans-serif;
  color: #161737;
  padding: 10px;
  padding-left: 20px;
}

.head_sort-info {
  font-size: 16px;
}

.head_sort-info img {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.lawyer_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.lawyer_btn button {
  height: 70px;
  width: 360px;
  background-color: transparent;
  border: 1px solid #10A578;
  border-radius: 6px;
  color: #10A578;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.lawyer_btn img {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.register {
  background-color: #F8F8FE;
  padding-top: 80px;
  text-align: center;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #161737;
}

.register_title {
  font-size: 30px;
  line-height: 1.5;
}

.register_conditions {
  margin-top: 16px;
  font-size: 20px;
}

.register_conditions a {
  color: #10A578;
}

.register_btn button {
  margin-top: 30px;
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 18px;
  border-radius: 6px;
  background-color: #10A578;
  padding: 24px;
  width: 320px;
  border: none;
}

.register_already {
  margin-top: 40px;
  margin-bottom: 90px;
  width: 580px;
  background-color: #fff;
  padding: 30px 40px;
  border: 1px solid #E0E0F8;
  border-radius: 6px;
}

.register_already-title {
  font-size: 30px;
}

.register_already-text {
  padding-top: 10px;
  font-size: 20px;
}

.register_already-text a {
  color: #10A578;
}

/*Экран с юристом */
.urist {
  padding-top: 40px;
}

.block {
  margin-top: 10px;
}

.block img {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.block-span {
  padding-left: 10px;
}

.lawyer_block-ingo small {
  font-size: 15px;
}

.lawyer_block-ingo .socio_week {
  margin-left: 10px;
}

.socio small {
  padding-left: 30px;
  font-size: 14px;
}

.socio span {
  padding-left: 2px;
}

.about {
  margin-top: 50px;
  margin-bottom: 70px;
  color: #161737;
  font-family: "Proxima Nova Regular", sans-serif;
}

.about_title {
  font-size: 30px;
  margin-top: 40px;
}

.about_text {
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.6;
}

.review {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #F8F8FE;
}

.review h4 a {
  color: #10A578;
}

.review_users {
  margin-bottom: 20px;
  border: 1px solid #e7e8f4;
  border-radius: 6px;
  background-color: white;
  padding: 20px 30px;
  color: #161737;
  font-family: "Proxima Nova Regular", sans-serif;
}

.review_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

.review_date {
  margin-top: 2px;
  font-size: 15px;
  color: #8c8da4;
}

.review_text {
  line-height: 1.5;
  margin-top: 12px;
  color: #636480;
}

.similar {
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

.similar_title {
  text-align: left;
}

.similar_block {
  padding: 20px;
  font-family: "Proxima Nova Regular", sans-serif;
  color: #161737;
}

.similar_name {
  margin-top: 22px;
  font-size: 18px;
}

.similar_star {
  margin-top: 15px;
}

.similar_star img {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.similar_review {
  margin-top: 10px;
}

.similar_review img {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

/*Третий экран Компании*/
.firms_block {
  border-top: 5px solid #10A578;
}

.profile .hr {
  border-bottom: 1px solid #e7e8f4;
  margin-top: 40px;
  padding-bottom: 40px;
}

.profile-section_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.profile-section_btn button {
  margin-top: 30px;
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 18px;
  border-radius: 6px;
  background-color: #10A578;
  padding: 24px;
  width: 320px;
  height: 70px;
  border: none;
}

.profile .form_btn {
  margin-top: 18px;
}

.profile .form_btn img {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.profile .form_btn button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #10A578;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.profile .redacted button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 5px;
  color: #10A578;
  font-family: "Proxima Nova Regular", sans-serif;
}

.profile_btn {
  display: inline-block;
}

.profile_btn button {
  background-color: transparent;
  border: 1px solid #10A578;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  color: #10A578;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.profile .lawyer_block-photo {
  text-align: center;
}

.profile .lawyer_block-photo img {
  width: 135px;
}

.profile .title {
  margin-bottom: 0;
}

.profile_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_form .name {
  font-size: 18px;
  color: #8c8da4;
}

.profile_form .input {
  padding: 20px;
}

.profile form input, .profile form textarea {
  width: 320px;
  margin-left: 40px;
  display: block;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #e7e8f4;
}

.profile main {
  -webkit-transform: translateY(-57px);
          transform: translateY(-57px);
  font-family: "Proxima Nova Regular", sans-serif;
}

.profile section {
  display: none;
  padding-top: 20px;
  border-top: 1px solid white;
}

.profile input {
  display: none;
}

.profile label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  color: #161737;
  border: 1px solid transparent;
}

.profile input:checked + label {
  color: #161737;
  border: 1px solid transparent;
  border-bottom: 3px solid #10A578;
  border-top: 1px solid #fff;
}

.profile #tab1:checked ~ #content1,
.profile #tab2:checked ~ #content2,
.profile #tab3:checked ~ #content3,
.profile #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  .profile label {
    font-size: 0;
  }
  .profile label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .profile label {
    padding: 15px;
  }
}
/*# sourceMappingURL=main.css.map */